.comments {
  .sprite-chat-bubble {
    margin-right: 10px;
  }

  .comment {
    border-top: 1px solid #eee;
    margin-top: 25px;
    padding-top: 15px;

    .created-at {
      text-transform: uppercase;
      float: right;
      line-height: 19px;
    }
  }

  input[type=submit] {
    margin-top: 15px;
    padding: 15px 60px;
    border-radius: 5px;
  }

  .comments-count {
    background-color: #fff;
    font-size:13px;
    display: block;
    margin: 2px;
    line-height: 21px;
    text-align: center;
    border-radius: 5px;
  }
}

.comment-photobutton {
  margin-right: 1rem;

  input {
    display: none;
  }

  .preview,
  &.with-preview .comment-photobutton__btn {
    display: none;
  }

  &.with-preview .preview {
    display: block;
  }

  .preview {
    position: relative;

    .remove {
      position: absolute;
      top: -9px;
      right: -9px;
    }
  }

  img {
    width: 100px;
    height: 52px;
  }

  .comment-photobutton__btn {
    cursor: pointer;

    .fa {
      font-size: 61px;
      line-height: 52px;
      color: @brand-primary;
    }
  }
}

[data-commentable-type=Comment] .comment-photobutton {
  .fa {
    font-size: 41px;
    line-height: 34px;
  }

  .preview img {
    width: 60px;
    height: 34px;
  }
}
