.new-count {
  position: absolute;
  border-radius: 50%;
  color: #fff;
  background-color: #c00;
  min-width: 1em;
  height: 1em;
  font-size: 13px;
  text-align: center;
  line-height: 1em;
  padding: 3px;
  box-sizing: content-box;
  top: 0;
  right: 0;
}

.btn {
  text-transform: uppercase;
  border-radius: 0;

  .fa {
    margin-right: 0.7em;
  }

  &.btn-icon .fa {
    margin-right: 0;
  }
}

.btn-default {
  &:hover {
    color: @brand-primary;
    border-color: @brand-primary;
  }
}

.btn-green {
  color: #fff;
  background-color: @brand-primary;

  &:hover {
    color: #fff;
  }
}

.navbar-nav > li {
  &:after {
    position: absolute;
    content: '';
    right: -1px;
    top: 30%;
    width: 2px;
    height: 40%;
    background-color: @navbar-default-link-color;
  }

  &:last-child:after {
    display: none;
  }
}

// Center this component beside it's h1 counterpart
.h1-side {
  font-size: @font-size-h1;
  font-family: @headings-font-family;
  font-weight: @headings-font-weight;
  line-height: @headings-line-height;
  margin-top: @line-height-computed;

  @media (max-width: @screen-xs-max) {
    text-align: left;
  }
}

.modal-header {
  border-bottom: 0;
  text-align: left;

  span {
    line-height: 32px;
  }
}

.modal-content {
  border-radius: 0;
}

.form-control {
  border-radius: 0;
}

.flash {
  margin-top: 15px;
}

.editable-buttons {
  margin-top: 5px;

  .editable-cancel {
    border-color: #000 !important;
    text-shadow: 1px 1px 0 #000 !important;
    padding: 5px 10px !important;
    font-size: 12px !important;
    color: #333 !important;
  }
}

.next-prev-pagination {
  margin-top: 20px;
}
