form.car-search {
  margin-top: 40px;

  .searchfield {
    display: block;
    position: relative;

    .sprite {
      position: absolute;
      left: 0;
      top: 5px;
    }

    input {
      border: 0;
      font-size: 30px;
      width: 100%;

      &.with-sprite {
        padding-left: 50px;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .radius-select {
    display: inline-block;
    margin-left: 0.5em;

    label {
      font-weight: normal;
      cursor: pointer;
    }

    label + label {
      margin-left: 1em;
    }

    input {
      display: none;
    }

    :checked + span {
      color: @brand-primary;
    }
  }
}

.user-list {
  margin-top: 40px;

  a.user {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    text-decoration: none;
    color: #000;
    position: relative;

    &:hover:before {
      content: "View Profile";
      color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100px;
      line-height: 100px;
      background-color: fade(@brand-primary, 50%);
      text-transform: uppercase;
      text-align: center;
      box-sizing: content-box;
      padding: 10px;
      margin-left: -10px;
      font-size: 2em;
    }
  }

  .user + .user {
    border-top: 1px solid fade(@brand-primary, 50%);

    &:hover {
      border-top-color: transparent;
    }
  }

  .profile-avatar {
    margin-right: 25px;
    margin-top: -10px;

    img {
      width: 100px !important;
      height: 100px !important;
    }
  }

  .car-count {
    margin-left: 25px;

    .count {
      display: block;
      text-align: center;
      font-size: 26px;
      padding-left: 6px;
      color: @brand-primary;
    }
  }

  .name {
    font-size: 26px;
    margin-top: 0;
  }

  .location {
    font-size: 16px;
  }
}
