.profile-nav {
  text-align: center;

  @media (max-width: @screen-xs-max) {
    .nav-pills {
      float: none !important;
      clear: both;
      display: inline-block;
    }
  }

  .nav-pills > li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-pills {
    > li span {
      display: block;
      margin-bottom: 10px;
      text-align: center;
    }

    .active > a {
      background-color: transparent;
      color: #000;

      &:hover {
        background-color: #eee;
        color: #000;
      }
    }

    .car-count {
      span {
        font-size: 20px;
        color: @brand-primary;
        margin-bottom: 12px; // +2px to align with the other nav items
        padding-left: 5px; // Center on asymetric car
      }
    }

    .follow-count {
      font-size: 20px;

      span {
        font-size: 24px;
      }
    }
  }


  .sprite {
    display: block;
    margin: 0 auto 10px auto;
  }
}

.user-profile {
  .profile-avatar img {
    border: 3px solid #fff;
  }

  h1 {
    margin-bottom: 1em !important;

    a {
      color: #fff;
    }

    .small {
      color: #fff;

      .location {
        margin: 20px 0;
      }

      .description {
        font-size: 22px;
        margin: 0 auto 15px auto;
        width: 35%;

        @media (max-width: @screen-xs-max) {
          width: 100%;
        }

        @media (max-width: @screen-sm-max) {
          width: 60%;
        }
      }

      .twitter, .edit-info {
        font-size: 16px;
        text-shadow: 1px 1px 1px #000;
      }

      .edit-info {
        margin-top: 20px;
      }
    }
  }

  .avatar-input {
    display: none;
  }

  .avatar-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;

    &.editing {
      cursor: pointer;

      &:after {
        content: attr(data-edit);
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(50,50,50,0.3);
        padding: 59px 10px 0 10px;
        text-shadow: none;
        color: #fff;
      }
    }
  }

  .edit-info {
    display: none;

    &.editing {
      display: inline-block;
    }
  }

  .actions {
    width: 80%;
    margin: 0 auto;

    .btn {
      border-radius: 5px;
      font-size: 16px;
      padding: 10px 35px;
    }

    .editing {
      display: none;

      .change-background {
        position: relative;
        padding-left: 69px;

        .sprite {
          position: absolute;
          top: 9px;
          left: initial;
          margin-left: -34px;
        }
      }
    }

    .background-photo {
      display: none;
    }
  }
}

.profile-avatar {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;

  img {
    position: relative;
  }

  .initials {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 70px;
    font-size: 36px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    text-shadow: none;
  }

  &.large {
    width: 100px;
    height: 100px;

    .initials {
      line-height: 100px;
      font-size: 60px;
    }
  }

  &.huge {
    width: 150px;
    height: 150px;

    .initials {
      line-height: 150px;
      font-size: 80px;
    }
  }

  &.small {
    width: 45px;
    height: 45px;

    .initials {
      line-height: 45px;
      font-size: 36px;
    }
  }
}
